In [ ]:
# Import the data

import pandas as pd
import numpy as np

Cov_df = pd.read_csv (r'C:\Users\laura\OneDrive\Desktop\Assigment 2ndModule\data\covid_19_uk_cases.csv')

print (Cov_df)

In [2]:
#Import the covid_19_uk_vaccinated.csv file

import pandas as pd
import numpy as np

Cov_Vaccinated_df = pd.read_csv (r'C:\Users\laura\OneDrive\Desktop\Assigment 2ndModule\data\covid_19_uk_vaccinated.csv')

print (Cov_Vaccinated_df)

     Province/State  Country/Region      Lat     Long  \
0          Anguilla  United Kingdom  18.2206 -63.0686
1          Anguilla  United Kingdom  18.2206 -63.0686
2          Anguilla  United Kingdom  18.2206 -63.0686
3          Anguilla  United Kingdom  18.2206 -63.0686
4          Anguilla  United Kingdom  18.2206 -63.0686
...             ...             ...      ...      ...
7579         Others  United Kingdom  55.3781  -3.4360
7580         Others  United Kingdom  55.3781  -3.4360
7581         Others  United Kingdom  55.3781  -3.4360
7582         Others  United Kingdom  55.3781  -3.4360
7583         Others  United Kingdom  55.3781  -3.4360

     ISO 3166-1 Alpha 3-Codes                  Sub-region Name  \
0                         AIA  Latin America and the Caribbean
1                         AIA  Latin America and the Caribbean
2                         AIA  Latin America and the Caribbean
3                         AIA  Latin America and the Caribbean
4                         AIA  Latin America and the Caribbean
...                       ...                              ...
7579                      GBR                  Northern Europe
7580                      GBR                  Northern Europe
7581                      GBR                  Northern Europe
7582                      GBR                  Northern Europe
7583                      GBR                  Northern Europe

      Intermediate Region Code        Date  Vaccinated  First Dose  \
0                           29  2020-01-22           0           0
1                           29  2020-01-23           0           0
2                           29  2020-01-24           0           0
3                           29  2020-01-25           0           0
4                           29  2020-01-26           0           0
...                        ...         ...         ...         ...
7579                         0  2021-10-10        1070        1216
7580                         0  2021-10-11        1300        1604
7581                         0  2021-10-12        1482        2027
7582                         0  2021-10-13           0           0
7583                         0  2021-10-14           0           0

      Second Dose
0               0
1               0
2               0
3               0
4               0
...           ...
7579         1070
7580         1300
7581         1482
7582            0
7583            0

[7584 rows x 11 columns]

In [3]:
#View the first rows in the 1st file 

print(Cov_df.head(0))

Empty DataFrame
Columns: [Province/State, Country/Region, Lat, Long, ISO 3166-1 Alpha 3-Codes, Sub-region Name, Intermediate Region Code, Date, Deaths, Cases, Recovered, Hospitalised]
Index: []

In [4]:
#View the last five rows in the 1st file 
print(Cov_df.tail(5))

     Province/State  Country/Region      Lat   Long ISO 3166-1 Alpha 3-Codes  \
7579         Others  United Kingdom  55.3781 -3.436                      GBR
7580         Others  United Kingdom  55.3781 -3.436                      GBR
7581         Others  United Kingdom  55.3781 -3.436                      GBR
7582         Others  United Kingdom  55.3781 -3.436                      GBR
7583         Others  United Kingdom  55.3781 -3.436                      GBR

      Sub-region Name  Intermediate Region Code        Date    Deaths  \
7579  Northern Europe                         0  2021-10-10  137735.0
7580  Northern Europe                         0  2021-10-11  137763.0
7581  Northern Europe                         0  2021-10-12  137944.0
7582  Northern Europe                         0  2021-10-13  138080.0
7583  Northern Europe                         0  2021-10-14  138237.0

          Cases  Recovered  Hospitalised
7579  8154306.0        0.0         378.0
7580  8193769.0        0.0         386.0
7581  8231437.0        0.0         386.0
7582  8272883.0        0.0           0.0
7583  8317439.0        0.0           0.0

In [5]:
#View the first rows in the 2nd file 

print (Cov_Vaccinated_df.head(0))

Empty DataFrame
Columns: [Province/State, Country/Region, Lat, Long, ISO 3166-1 Alpha 3-Codes, Sub-region Name, Intermediate Region Code, Date, Vaccinated, First Dose, Second Dose]
Index: []

In [8]:
#View the last 5 rows in the 2nd file 

#print (Cov_Vaccinated_df.tail(5))

In [9]:
# Number of rows/columns for the 1st file 

print(Cov_df.shape)

(7584, 12)

In [10]:
# Number of rows/columns for the 2nd file 

print(Cov_Vaccinated_df.shape)

(7584, 11)

In [11]:
# Data type of the data for the 1st file

print(Cov_df.dtypes)

Province/State               object
Country/Region               object
Lat                         float64
Long                        float64
ISO 3166-1 Alpha 3-Codes     object
Sub-region Name              object
Intermediate Region Code      int64
Date                         object
Deaths                      float64
Cases                       float64
Recovered                   float64
Hospitalised                float64
dtype: object

In [12]:
# Data type of the data for the 2nd file

print(Cov_Vaccinated_df.dtypes)

Province/State               object
Country/Region               object
Lat                         float64
Long                        float64
ISO 3166-1 Alpha 3-Codes     object
Sub-region Name              object
Intermediate Region Code      int64
Date                         object
Vaccinated                    int64
First Dose                    int64
Second Dose                   int64
dtype: object

In [13]:
#Missing values for the 1st file

Cov_df_na = Cov_df[Cov_df.isna().any(axis=1)]

print (Cov_df_na.shape)

(2, 12)

In [14]:
#Missing values for the 2nd file

Cov_Vaccinated_df_na = Cov_Vaccinated_df[Cov_Vaccinated_df.isna().any(axis=1)]

print (Cov_Vaccinated_df_na.shape)

(0, 11)

In [15]:
#Filter the data for the region Gibraltar

Cov_df[Cov_df['Province/State']=='Gibraltar']

,Province/State,Country/Region,Lat,Long,ISO 3166-1 Alpha 3-Codes,Sub-region Name,Intermediate Region Code,Date,Deaths,Cases,Recovered,Hospitalised
3792,Gibraltar,United Kingdom,36.1408,-5.3536,GIB,Southern Europe,0,2020-01-22,0.0,0.0,0.0,0.0
3793,Gibraltar,United Kingdom,36.1408,-5.3536,GIB,Southern Europe,0,2020-01-23,0.0,0.0,0.0,0.0
3794,Gibraltar,United Kingdom,36.1408,-5.3536,GIB,Southern Europe,0,2020-01-24,0.0,0.0,0.0,0.0
3795,Gibraltar,United Kingdom,36.1408,-5.3536,GIB,Southern Europe,0,2020-01-25,0.0,0.0,0.0,0.0
3796,Gibraltar,United Kingdom,36.1408,-5.3536,GIB,Southern Europe,0,2020-01-26,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4419,Gibraltar,United Kingdom,36.1408,-5.3536,GIB,Southern Europe,0,2021-10-10,97.0,5626.0,0.0,858.0
4420,Gibraltar,United Kingdom,36.1408,-5.3536,GIB,Southern Europe,0,2021-10-11,97.0,5655.0,0.0,876.0
4421,Gibraltar,United Kingdom,36.1408,-5.3536,GIB,Southern Europe,0,2021-10-12,97.0,5682.0,0.0,876.0
4422,Gibraltar,United Kingdom,36.1408,-5.3536,GIB,Southern Europe,0,2021-10-13,97.0,5707.0,0.0,0.0
4423,Gibraltar,United Kingdom,36.1408,-5.3536,GIB,Southern Europe,0,2021-10-14,97.0,5727.0,0.0,0.0

In [16]:
# print the whole DataFrame
# replace df with the name you have given your DataFrame
#pd.set_option("display.max_rows", None)

#Cov_df

#Tried to run this code but the system got stucked, 
#and I needed to restart the program, then I've used the below that worked.

print (Cov_df[Cov_df['Province/State']=='Gibraltar'])

     Province/State  Country/Region      Lat    Long ISO 3166-1 Alpha 3-Codes  \
3792      Gibraltar  United Kingdom  36.1408 -5.3536                      GIB
3793      Gibraltar  United Kingdom  36.1408 -5.3536                      GIB
3794      Gibraltar  United Kingdom  36.1408 -5.3536                      GIB
3795      Gibraltar  United Kingdom  36.1408 -5.3536                      GIB
3796      Gibraltar  United Kingdom  36.1408 -5.3536                      GIB
...             ...             ...      ...     ...                      ...
4419      Gibraltar  United Kingdom  36.1408 -5.3536                      GIB
4420      Gibraltar  United Kingdom  36.1408 -5.3536                      GIB
4421      Gibraltar  United Kingdom  36.1408 -5.3536                      GIB
4422      Gibraltar  United Kingdom  36.1408 -5.3536                      GIB
4423      Gibraltar  United Kingdom  36.1408 -5.3536                      GIB

      Sub-region Name  Intermediate Region Code        Date  Deaths   Cases  \
3792  Southern Europe                         0  2020-01-22     0.0     0.0
3793  Southern Europe                         0  2020-01-23     0.0     0.0
3794  Southern Europe                         0  2020-01-24     0.0     0.0
3795  Southern Europe                         0  2020-01-25     0.0     0.0
3796  Southern Europe                         0  2020-01-26     0.0     0.0
...               ...                       ...         ...     ...     ...
4419  Southern Europe                         0  2021-10-10    97.0  5626.0
4420  Southern Europe                         0  2021-10-11    97.0  5655.0
4421  Southern Europe                         0  2021-10-12    97.0  5682.0
4422  Southern Europe                         0  2021-10-13    97.0  5707.0
4423  Southern Europe                         0  2021-10-14    97.0  5727.0

      Recovered  Hospitalised
3792        0.0           0.0
3793        0.0           0.0
3794        0.0           0.0
3795        0.0           0.0
3796        0.0           0.0
...         ...           ...
4419        0.0         858.0
4420        0.0         876.0
4421        0.0         876.0
4422        0.0           0.0
4423        0.0           0.0

[632 rows x 12 columns]

In [17]:
Cov_df_fcol = pd.read_csv('covid_19_uk_cases.csv', 
                            usecols=['Deaths', 'Cases','Recovered', 'Hospitalised'])

# [2] Print the DataFrame.
Cov_df_fcol.head()

   Deaths  Cases  Recovered  Hospitalised
0     0.0    0.0        0.0           0.0
1     0.0    0.0        0.0           0.0
2     0.0    0.0        0.0           0.0
3     0.0    0.0        0.0           0.0
4     0.0    0.0        0.0           0.0

In [20]:
# Import Pandas.
import pandas as pd

# Read the CSV file from the current working directory.
Cov_df = pd.read_csv (r'C:\Users\laura\OneDrive\Desktop\Assigment 2ndModule\data\covid_19_uk_cases.csv')

print (Cov_df.shape)
    

# Descriptive statistics.
Cov_df.describe()

(7584, 12)

,Lat,Long,Intermediate Region Code,Deaths,Cases,Recovered,Hospitalised
count,7584.000000,7584.000000,7584.000000,7582.000000,7.582000e+03,7582.000000,7582.000000
mean,21.840267,-41.440047,12.500000,6210.202321,2.147082e+05,454.691242,685.228568
std,28.305518,30.527529,14.009849,24860.790148,1.007557e+06,1010.642337,819.256635
min,-51.796300,-81.254600,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,17.851075,-64.667625,0.000000,0.000000,1.200000e+01,0.000000,105.000000
50%,20.503650,-60.855483,2.500000,1.000000,1.685000e+02,13.000000,390.000000
75%,39.448675,-5.152225,29.000000,25.000000,1.585000e+03,312.000000,955.750000
max,55.378100,-2.364400,29.000000,138237.000000,8.317439e+06,8322.000000,4907.000000